@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: 'Abel', Ubuntu;
    font-family:var(--font-body);
}

.none{
    display:none;
}
